{% extends "admin/layout.html.twig" %}

{% block content %}

<form action="{{ path('admin.entradas.update', {'id': entrada.id}) }}" method="post">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="titulo">titulo</label>
    <input type="text" name="titulo" class="form-control" placeholder="Titulo" id="titulo" value="{{ entrada.titulo }}">
  </div>

  <div class="form-group">
    <label for="descripcion">Descripcion</label>
    <textarea name="descripcion" id="descripcion" class="form-control">{{ entrada.descripcion }}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}
